[submodule "ts-prereq"]
	path = ts-prereq
	url = https://github.com/hdharish01/ts-prereq.git
[submodule "rs-prereq"]
	path = rs-prereq
	url = https://github.com/hdharish01/rs-prereq.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/hdharish01/solana-starter.git
[submodule "vault"]
	path = vault
	url = https://github.com/hdharish01/vault.git
